* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxa;
}
.app {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  &__wrapper {
    padding: 2em;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 15px;
  }
  &__text {
    flex-basis: 80%;
  }
  &__statistics {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.text {
  &__char {
    color: black;
    font-size: 1.6rem;
    &_done {
      color: limegreen;
    }
    &_current {
      color: white;
      background-color: limegreen;
      border-radius: 5px;
      padding: 0 2px 0;
    }
    &_wrong {
      color: white;
      background-color: red;
      border-radius: 5px;
      padding: 0 2px 0;
    }
  }
}
.statistics {
  &__title {
    font-size: 1.4rem;
    color: gray;
  }
  &__text {
    font-size: 1.6rem;
    color: rgb(109, 193, 226);
  }
  &__reset {
    border: none;
    font-size: 1.4rem;
    color: rgb(109, 193, 226);
  }
}
